In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("1st Innings T20.csv")

In [3]:
df.head()

,Unnamed: 0,matchId,balls,runs,tossWinner,battingTeam,bowlingTeam,player_out,city,venue
0,0,5_1,0.1,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,1,5_1,0.2,0,India,West Indies,India,1,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,5_1,0.3,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,3,5_1,0.4,1,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,4,5_1,0.5,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91964 entries, 0 to 91963
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   91964 non-null  int64
 1   matchId      91964 non-null  object
 2   balls        91964 non-null  float64
 3   runs         91964 non-null  int64
 4   tossWinner   88988 non-null  object
 5   battingTeam  91964 non-null  object
 6   bowlingTeam  91964 non-null  object
 7   player_out   91964 non-null  int64
 8   city         91964 non-null  object
 9   venue        91964 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 7.0+ MB

In [5]:
df["venue"].value_counts()

venue
Dubai International Cricket Stadium          5227
Shere Bangla National Stadium                3665
Harare Sports Club                           3466
R Premadasa Stadium                          3221
New Wanderers Stadium                        2819
                                             ...
Civil Service Cricket Club, Stormont          121
Grange Cricket Club Ground, Raeburn Place     121
Bready                                        121
Carrara Oval                                   64
Kensington Oval, Bridgetown, Barbados          56
Name: count, Length: 133, dtype: int64

In [6]:
df["city"].value_counts()

city
Dubai           5227
Colombo         5176
Johannesburg    3578
Mirpur          3542
Harare          3466
                ...
Victoria         123
Edinburgh        121
Derry            121
Carrara           64
Bridgetown        56
Name: count, Length: 106, dtype: int64

In [7]:
df = df.drop(columns = ["Unnamed: 0","city","venue","tossWinner"])

In [8]:
df.head()

  matchId  balls  runs  battingTeam bowlingTeam  player_out
0     5_1    0.1     0  West Indies       India           0
1     5_1    0.2     0  West Indies       India           1
2     5_1    0.3     0  West Indies       India           0
3     5_1    0.4     1  West Indies       India           0
4     5_1    0.5     0  West Indies       India           0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91964 entries, 0 to 91963
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   matchId      91964 non-null  object
 1   balls        91964 non-null  float64
 2   runs         91964 non-null  int64
 3   battingTeam  91964 non-null  object
 4   bowlingTeam  91964 non-null  object
 5   player_out   91964 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.2+ MB

In [10]:
df.sample(10)

      matchId  balls  runs   battingTeam   bowlingTeam  player_out
89155  1740_1   10.2     1   West Indies       England           0
32090   656_1    5.5     0      Pakistan     Sri Lanka           1
36048   730_1    8.4     0  South Africa     Australia           0
54884  1101_1   11.3     6  South Africa     Australia           0
82163  1601_1   10.6     1   New Zealand    Bangladesh           0
44835   911_1    8.3     1     Sri Lanka   New Zealand           0
11838   243_1    5.2     6     Australia       England           0
23286   486_1    1.6     1       England      Pakistan           0
67027  1341_1   14.5     1       England  South Africa           0
25568   527_1   11.5     0         India     Sri Lanka           0

In [11]:
df["matchId"] = df["matchId"].str.replace('_1','').astype("int64")

In [12]:
 df.sample(5)

       matchId  balls  runs   battingTeam   bowlingTeam  player_out
59945     1205   15.2     1   Afghanistan       Ireland           0
35220      709   14.2     4   West Indies      Pakistan           0
90388     1760    6.5     1       England  South Africa           0
39948      797    0.5     0  South Africa   New Zealand           0
24180      504    4.4     0   West Indies   New Zealand           0

In [13]:
df['current_score'] = df.groupby('matchId')['runs'].cumsum()
df['overs'] = df['balls'].astype(int)
df['ball_number'] = round((df['balls'] % 1) * 10).astype(int)
df['total_balls_bowled'] = (df['overs'] * 6) + df['ball_number']
df['CRR'] = (df['current_score'] / df['total_balls_bowled']) * 6

In [14]:
df.sample(5)

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,total_balls_bowled,CRR
80496,1570,14.2,1,India,England,0,106,14,2,86,7.395349
18958,389,19.6,2,Sri Lanka,Australia,0,127,19,6,120,6.350000
30564,612,15.2,1,New Zealand,Sri Lanka,0,132,15,2,92,8.608696
70211,1394,9.6,1,Pakistan,England,0,61,9,6,60,6.100000
77725,1513,18.4,0,South Africa,Ireland,1,134,18,4,112,7.178571

In [15]:
final_df = df.groupby('matchId').sum()['runs'].reset_index().merge(df,on = 'matchId')

In [16]:
final_df['current_wickets'] = final_df.groupby('matchId')['player_out'].cumsum()

In [17]:
final_df.head(5)

,matchId,runs_x,balls,runs_y,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,total_balls_bowled,CRR,current_wickets
0,5,95,0.1,0,West Indies,India,0,0,0,1,1,0.0,0
1,5,95,0.2,0,West Indies,India,1,0,0,2,2,0.0,1
2,5,95,0.3,0,West Indies,India,0,0,0,3,3,0.0,1
3,5,95,0.4,1,West Indies,India,0,1,0,4,4,1.5,1
4,5,95,0.5,0,West Indies,India,0,1,0,5,5,1.2,1

In [18]:
final = final_df[['battingTeam','bowlingTeam','current_score','balls','CRR','current_wickets','runs_x']]

In [19]:
final['wickets'] = final['current_wickets']
final['Total_runs'] = final['runs_x']
final = final.drop(columns = ['runs_x','current_wickets'])

C:\Users\rudra\AppData\Local\Temp\ipykernel_14456\1420531271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['wickets'] = final['current_wickets']
C:\Users\rudra\AppData\Local\Temp\ipykernel_14456\1420531271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['Total_runs'] = final['runs_x']

In [20]:
final.head()

   battingTeam bowlingTeam  current_score  balls  CRR  wickets  Total_runs
0  West Indies       India              0    0.1  0.0        0          95
1  West Indies       India              0    0.2  0.0        1          95
2  West Indies       India              0    0.3  0.0        1          95
3  West Indies       India              1    0.4  1.5        1          95
4  West Indies       India              1    0.5  1.2        1          95

In [21]:
final = final.sample(frac=1).reset_index(drop=True)

In [22]:
final.head()

,battingTeam,bowlingTeam,current_score,balls,CRR,wickets,Total_runs
0,Sri Lanka,Pakistan,110,18.3,5.945946,7,132
1,Zimbabwe,Pakistan,91,14.1,6.423529,6,134
2,Sri Lanka,West Indies,115,12.6,8.846154,1,195
3,England,West Indies,144,18.4,7.714286,5,161
4,South Africa,Australia,73,11.6,6.083333,4,146

In [23]:
final.to_csv("Cricket_score_predictor.csv",index = False)